@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #8ea9153e;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 60px;
  width: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #eeeeea;
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  margin: 2px;
  padding: 9px 11px;
  background-color: #4caf50;
  color: rgb(60, 55, 7);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #45a049;
}

.countries {
  margin-top: 20px;
}

.countries h2 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.countries ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.countries li {
  margin-right: 10px;
}

.countries a {
  display: block;
  background-color: #074252;
  padding: 20px; /* Adjust padding */
  border-radius: 5px;
  text-decoration: none;
  color: #d50f0f;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.countries a:hover {
  background-color: #dddddd;
}

#weatherData {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  border: 2px solid #072b1a;
  border-radius: 10px;
  padding: 20px;
}

#weatherData h2 {
  margin: 1.9px;
  color: #0e3929;
}
#location {
  display: inline-block;
  margin-top: 5px;
}

.location-icon {
  display: inline-block;
  height: 0.6em;
  width: auto;
  margin-right: 5px;
}

.weather-container {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.weather-icon img {
  filter: drop-shadow(0 0 2px #2d8698);
  width: 100%;
}

.weather-temp {
  margin: 0;
  font-weight: 700;
  font-size: 4em;
  color: #7e1414;
}

.weather-desc {
  margin: 0;
  color: #878710;
}

/* Popular Cities */
.countries {
  margin-top: 20px;
}

.countries ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.countries li {
  margin-right: 10px;
  margin-left: 10px;
  flex: 1;
}

.countries a {
  display: block;
  background-color: #aac438;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #085844;
  font-weight: bold;
  text-align: center;
}

.countries a:hover {
  background-color: #052a4f;
}

@media only screen and (max-width: 1300px) {
  body {
    font-size: 0.3rem;
  }

  .container {
    height: auto;
    margin: 5rem 0;
  }

  .weather-side {
    width: 100%;
    margin-bottom: 20px;
    transform: none;
    top: auto;
    left: auto;
  }

  .location-container {
    padding: 15px;
  }
}
/* @media (max-width: 768px) {
  .main_header_left {
    height: auto;
    margin: 5rem 0;
  }
  .main_header_right {
    height: auto;
    margin-top: 3rem;
  }
} */
